html, body {
    height: 100%;
}

#pantalla{
    height: 100vh;
    display: flex;
    flex-direction: row
}


#mitad1{
    width: 40vw;
}


.eliminar{
    width: 1.1rem;
    height: 1.7rem;
    background-image: url('imagenes/trash3.svg');
    background-repeat: no-repeat;
    background-position: center;
}